<%- include('../partials/header') %>

<section id="show-page">

    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <div>Departure Time: </div>
    <div><%= flight.departs %></div>
    <!-- start cast list -->
 
  </section>

  <br><br><h2>Destinations</h2>
<form id="add-review-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>Arrival Time:</label>
  <input type="datetime-local" name="arrival">
  <label>Destinations:</label>
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN" selected>SAN</option>
  </select>
  <input type="submit" value="Add Destination">
</form>

<% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>Arrival Time</th>
          <th>Airport</th>
        
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(destination) { %>
          <tr>
            <td><%= destination.arrival//.toLocaleDateString() %></td>
            <td><%= destination.airport %></td>
          
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Destinations Yet</h5>
  <% } %>
<%- include('../partials/footer') %>
